{% load static %}
<footer id="contact" style="background-color:antiquewhite;padding:20px">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>Socials</h1>
				<div><a href="https:/twitter.com/hanifaarrmsha" target="_blank"><img src="{% static 'img/twitter.png' %}" width="50px" height="50px"></a>
				<a href="https:/facebook.com/prof.drs.hanifa" target="_blank"><img src="{% static 'img/facebook.png' %}" width="50px" height="50px"></a>
				<a href="https:/linkedin.com/in/hanifaarrumaisha" target="_blank"><img src="{% static 'img/linkedin.png' %}" width="50px" height="50px"></a>
				<a href="https:/hanifaarrumaisha.wordpress.com" target="_blank"><img src="{% static 'img/wordpress.png' %}" width="50px" height="50px"></a>
				<a href="https:/instagram.com/hanifarrmsh" target="_blank"><img src="{% static 'img/instagram.png' %}" width="50px" height="50px"></a>
				</div>
			</div>
			<div class="col-md-4">
				<h4>Mail</h4>
				<p>hanifa.arrumaisha@ui.ac.id</p>
			</div>
			<div class="col-md-4">
			<h4>Address</h4>
				<p>Jl. Masjid Fathul Ghofur RT.01/RW.04 No.51, Cibubur, Ciracas, Jakarta Timur</p>
			</div>
			<div>&copy; Hanifa Arrumaisha</div>
		</div>
	</div>
</footer>