
<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up float-xs-left" type="button" data-toggle="collapse" data-target="#navbar-collapsed">
        <!--&#9776;-->
    </button>
    <div id="navbar-collapsed" class="collapse navbar-toggleable-xs float-xs-left">
      <!-- <div class="navbar-brand">
          <img src="#" alt="logo navbar">
      </div> -->

      <a id="nama" href={% url 'index' %}>Hanifa Arrumaisha</a>
      <ul class="nav navbar-nav float-xs-left">
           
        <!-- <li class="nav-item active">
          <a class="nav-link" href="{% url 'lab-10:index' %}">Lab 10 </a>
        </li> -->

        {% if headerlist_left %}
          {% include headerlist_left %} 
        {% endif %}  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">My Portofolio</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href={% url 'index' %}>My Resume</a>  
            <a class="dropdown-item" href={% url 'lab-1:index' %}>Lab 1</a>
            <a class="dropdown-item" href={% url 'lab-2:index' %}>Lab 2</a>
            <a class="dropdown-item" href={% url 'lab-3:index' %}>Lab 3</a>
            <a class="dropdown-item" href={% url 'lab-4:index' %}>Lab 4</a>
            <a class="dropdown-item" href={% url 'lab-5:index' %}>Lab 5</a>
            <a class="dropdown-item" href={% url 'lab-6:index' %}>Lab 6</a>
            <a class="dropdown-item" href={% url 'lab-7:index' %}>Lab 7</a>
            <a class="dropdown-item" href={% url 'lab-8:index' %}>Lab 8</a>
            <a class="dropdown-item" href={% url 'lab-9:index' %}>Lab 9</a>
            <a class="dropdown-item" href={% url 'lab-10:index' %}>Lab 10</a>
          </div>
        </li>
      </ul> 
    </div> 
    {% if headerlist_right %}
      {% include headerlist_right %} 
    {% endif %}  
</nav>
