{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block title %}
Facebook API
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lab8.css' %}" />
{% endblock %}
{% block js %}
<script src="{% static 'js/lab8.js' %}"></script>
{% endblock %}

{% block header %}
{% include 'partials/header.html' with headerlist_right='lab_8/partials/header_right.html'%}
{% endblock %}

{% block content %}
<div name="postFeed" id="postFeed" >
    <div id="lab8">
    </div>
</div>
{% endblock %}