{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block title %}
Lab 2
{% endblock %}

{% block header %}
{% include 'partials/header.html' %}
{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lab2.css' %}" />
{% endblock %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}