
{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{friend.friend_name}} Data
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lab_7.css' %}" />
{% endblock %}

{% block header %}
{% include 'partials/header.html' with headerlist_left='lab_7/partials/header.html' %}
{% endblock %}

{% block content %}

<section class="friend-view">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{friend.friend_name}}</h1>
            </div>
            <div class="col-xs-3">
                NPM
            </div>
            <div class="col-xs-9">
                : {{friend.npm}}
            </div>
            <div class="col-xs-3">
                Alamat   
            </div>
            <div class="col-xs-9">
                : <span id="address">{{friend.alamat_mhs}}</span>
            </div>
            <div class="col-xs-3">
                Tanggal lahir
            </div>
            <div class="col-xs-9">
                : {{friend.tgl_lahir}}
            </div>
            <div class="col-xs-3">
                Program Studi
            </div>
            <div class="col-xs-9">
                : {{friend.prodi}}
            </div>
            <div class="col-xs-3">
                Angkatan
            </div>
            <div class="col-xs-9">
                : {{friend.angkatan}}
            </div>
        </div>
    </div>
    <div class="container">
        <div id="googleMap" style="width:500px; height:400px; margin: 50px 0"></div>
    </div>
    <div>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnbJQq5rFmTEx43VzVmSLEu4UmPKYhkeI&callback=initMap" async defer>"</script>

<script>
    var address = $("#address").text();
    
    function initMap() {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': address}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                var propertiPeta = {
                    center: results[0].geometry.location,
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var peta = new google.maps.Map(document.getElementById("googleMap"), propertiPeta);
                var marker = new google.maps.Marker({
                    map: peta,
                    position: results[0].geometry.location
                });
            } else {
                var html = '<div class="alert alert-danger text-center">\
                                Lokasi tidak ditemukan!\
                            </div>';
                $("#googleMap").append(html)
            }
        });
    }
</script>
{% endblock %}
