<!-- <header> -->
  <!-- Your Header Here -->
  <!-- templates/lab_5/partials/header.html -->
  <!-- <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'lab-9:index' %}">Hani's App</a>
      </div> -->
      {% if login %}
    </div>
    <div>
      <ul class="nav navbar-nav float-xs-right" >
        <li id='log'><a onclick="facebookLogout()">Logout</a></li>
      </ul>
      {% endif %}
   <!-- </nav>
</header> -->