
<li class="nav-item "><a class = "nav-link" href="#about">About</a></li>
<li class="nav-item "><a class = "nav-link" href="#resume">Resume</a></li>
<li class="nav-item "><a class = "nav-link" href="#contact">Contact</a></li>
<li class="nav-item "><a class = "nav-link" href="http://blog.arrumaishay.com/">Blog</a></li>
